
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-size: 50px;
}

.hero-main {
    background: url(../img/toucan.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-content {
    background: white;
    border-radius: 12px;
    padding: 20px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.resp-img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.flex-parent {
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-basis: 1;
    flex-wrap: wrap;
    
    border: 1px green solid;
    padding: 20px;
}

.grow {
    flex-grow: 3;
    width: 200px;
}

@media only screen and (min-width: 600px){


.flex-parent {
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    

    border: 1px solid purple;
}

.resp-img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

} /* end of media querie */

.flex-item {
    border: 2px red dotted;
    padding: 20px;
}
    